<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
<h1>Result Success</h1>

<p>Name :<span th:text="${data.name}"></span></p>
<p>Email :<span th:text="${data.email}"></span></p>
<p>Password :<span th:text="${data.password}"></span></p>
<p>Age :<span th:text="${data.age}"></span></p>
<p>Address :<span th:text="${data.address}"></span></p>
<p>pho :<span th:text="${data.number}"></span></p>
<p>Surname :<span th:text="${data.alu}"></span></p>
<p>Gender :<span th:text="${data.male female}"></span></p>








</body>
</html>